<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Sample Application</title>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <style>
        body {
            margin: 50px 0 0 0;
            padding: 0;
            width: 100%;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: left;
            color: #aaa;
            font-size: 18px;
        }
        h1 {
            color: black;
            letter-spacing: -3px;
            font-family: 'Lato', sans-serif;
            font-size: 40px;
            font-weight: 200;
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<h1>Demo Application</h1>
<div>Post Details</div>
{% if post %}
<table border="1">
    <tr>
        <td>Title : </td>
        <td>{{ post.title }}</td>
    </tr>
    <tr>
        <td>Detailed Description : </td>
        <td>{{ post.longText}}</td>
    </tr>
    <tr>
        <td>Date Created : </td>
        <td>{{post.created|date('F j, Y, g:i a')}}</td>
    </tr>
    <tr>
        <td>Author : </td>
        <td>{{post.author}}</td>
    </tr>
    <tr>
        <td colspan="2"> <a href="/content/list">Back to Posts</a></td>
    </tr>
</table>
{% else %}
<p>No Post Found</p>
{% endif %}
</body>
</html>